root = true

[*]
charset = utf-8
end_of_line = lf
insert_final_newline = true
trim_trailing_whitespace = true
indent_style = space
indent_size = 4
max_line_length = 120

[*.go]
indent_style = tab
indent_size = 4

[{go.mod,go.sum,go.work}]
indent_style = tab

[{Makefile,*.mk}]
indent_style = tab

[*.{yaml,yml,json,toml}]
indent_size = 2

[*.md]
# Trailing double spaces are hard line breaks in Markdown
trim_trailing_whitespace = false
